<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CamimSCA</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet> 
    	<servlet-name>ControlePrincipal</servlet-name> 
    	<servlet-class>controle.ControlePrincipal</servlet-class> 
	</servlet> 
    <servlet-mapping>      
		<servlet-name>ControlePrincipal</servlet-name>
		<url-pattern>/servlet/ControlePrincipal</url-pattern>
	</servlet-mapping>
	<servlet> 
    	<servlet-name>ControleCliente</servlet-name> 
    	<servlet-class>controle.ControleCliente</servlet-class> 
	</servlet> 
    <servlet-mapping>      
		<servlet-name>ControleCliente</servlet-name>
		<url-pattern>/servlet/ControleCliente</url-pattern>
	</servlet-mapping>
	<servlet> 
    	<servlet-name>ControleEspecialidade</servlet-name> 
    	<servlet-class>controle.ControleEspecialidade</servlet-class> 
	</servlet> 
    <servlet-mapping>      
		<servlet-name>ControleEspecialidade</servlet-name>
		<url-pattern>/servlet/ControleEspecialidade</url-pattern>
	</servlet-mapping> 
	<servlet> 
    	<servlet-name>ControlePlanoSaude</servlet-name> 
    	<servlet-class>controle.ControlePlanoSaude</servlet-class> 
	</servlet> 
    <servlet-mapping>      
		<servlet-name>ControlePlanoSaude</servlet-name>
		<url-pattern>/servlet/ControlePlanoSaude</url-pattern>
	</servlet-mapping>
	<servlet> 
    	<servlet-name>ControleDependente</servlet-name> 
    	<servlet-class>controle.ControleDependente</servlet-class> 
	</servlet> 
    <servlet-mapping>      
		<servlet-name>ControleDependente</servlet-name>
		<url-pattern>/servlet/ControleDependente</url-pattern>
	</servlet-mapping>
	<servlet> 
    	<servlet-name>ControleMedico</servlet-name> 
    	<servlet-class>controle.ControleMedico</servlet-class> 
	</servlet> 
    <servlet-mapping>      
		<servlet-name>ControleMedico</servlet-name>
		<url-pattern>/servlet/ControleMedico</url-pattern>
	</servlet-mapping>
	<servlet> 
    	<servlet-name>ControleHorarioAtendimento</servlet-name> 
    	<servlet-class>controle.ControleHorarioAtendimento</servlet-class> 
	</servlet> 
    <servlet-mapping>      
		<servlet-name>ControleHorarioAtendimento</servlet-name>
		<url-pattern>/servlet/ControleHorarioAtendimento</url-pattern>
	</servlet-mapping> 
	
	<servlet> 
    	<servlet-name>ControlePessoa</servlet-name> 
    	<servlet-class>controle.ControlePessoa</servlet-class> 
	</servlet>
    <servlet-mapping>      
		<servlet-name>ControlePessoa</servlet-name>
		<url-pattern>/servlet/ControlePessoa</url-pattern>
	</servlet-mapping>	
		
	<servlet> 
    	<servlet-name>ControlePagamentoConsulta</servlet-name> 
    	<servlet-class>controle.ControlePagamentoConsulta</servlet-class> 
	</servlet>
    <servlet-mapping>      
		<servlet-name>ControlePagamentoConsulta</servlet-name>
		<url-pattern>/servlet/ControlePagamentoConsulta</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>ControleAtendimento</servlet-name> 
    	<servlet-class>controle.ControleAtendimento</servlet-class> 
	</servlet>
    <servlet-mapping>      
		<servlet-name>ControleAtendimento</servlet-name>
		<url-pattern>/servlet/ControleAtendimento</url-pattern>
	</servlet-mapping>
		 
	<servlet>
    	<servlet-name>ControleRelatorio</servlet-name> 
    	<servlet-class>controle.ControleRelatorio</servlet-class> 
	</servlet>
    <servlet-mapping>      
		<servlet-name>ControleRelatorio</servlet-name>
		<url-pattern>/servlet/ControleRelatorio</url-pattern>
	</servlet-mapping>		 
</web-app>
